@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #000000;

  line-height: 26px;
}

.container {
  display: flex;
  flex-direction: column;

  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 0 70px;
}

.main-index {
  flex-grow: 1;
}

.main-catalog {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.navigation-list {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;

  max-width: 625px;
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.navigation-item .navigation-link {
  margin: 13px 9px;
  padding: 7px;
}

.navigation-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;

  line-height: 24px;
}

.navigation-link-favorites {
  position: relative;
}

.navigation-link.icon.navigation-link-search {
  margin-left: auto;
}

.favorites-count {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 12px;
  top: -7px;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7db54f;

  font-size: 10px;
  font-weight: 400;
  color: #ffffff;

  line-height: 10px;
}

.navigation-link.icon {
  margin: 0 6px;
  margin-top: 17px;
  padding: 6px;

  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
}

.navigation-link.navigation-link-current:after {
  content: "";
  display: block;

  position: absolute;
  left: 7px;
  right: 7px;
  bottom: -13px;

  height: 1px;
  background-color: #756257;
}

.navigation-logo {
  display: block;

  position: relative;
  z-index: 2;

  margin-bottom: -6px;
  margin-right: 29px;
}

.logo-image {
  object-fit: cover;
  object-position: top;
  vertical-align: middle;
}

.button {
  display: block;

  margin: auto 0;
  border-width: 0;
  border-radius: 4px;
  background-color: #756157;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  line-height: 20px;
}

.button:hover {
  background-color: #615048;

  cursor: pointer;
}

.button:focus {
  outline: none;
  background-color: #615048;
}

.button:active {
  background-color: #756157;

  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;

  cursor: not-allowed;
}

.navigation-link.button {
  margin-bottom: 14px;
  margin-left: 20px;
  margin-top: 14px;
  padding: 8px 34px;
}

.button-additional {
  background-color: #82b3d3;
}

.button:hover.button-additional {
  background-color: #68a2ca;
}

.button:focus.button-additional {
  background-color: #68a2ca;
}

.button:active.button-additional {
  background-color: #82b3d3;
}

.hero {
  min-height: 485px;
  background-color: #4c7aa1;
  background-image: url("../images/optimized/hero-mask.svg"),
    url("../images/optimized/index-background.jpg");
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

.hero-image {
  margin: 0 auto;
  padding-top: 51px;
}

.advantages-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 70px 0 90px;
}

.advantages-subtitle {
  margin: 0;
  padding: 0;
}

.services-subtitle {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  text-transform: uppercase;

  line-height: 36px;
}

.title-advantages {
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-list .card-title {
  margin-bottom: 60px;
}

.advantages-item:nth-child(odd) {
  background-color: #e6f0f6;
}

.advantages-item:nth-child(even) {
  background-color: #f0f5f9;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82b3d3;

  color: #ffffff;
}

.advantages-item:first-child .card-title,
.advantages-item:last-child .card-title {
  background-color: #82b3d3;

  color: #ffffff;
}

.advantages-item {
  display: flex;
  flex-basis: calc(100% / 3);

  min-height: 385px;
  margin: 0;

  text-align: center;
  color: #333333;
}

.advantages-item:has(.advantages-photo) {
  flex-grow: 1;
}

.advantages-item:has(.advantages-photo) .advantages-item-text {
  padding: 102px 85px;
}

.advantages-item-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  margin: 0;
  padding: 112px 80px;

  text-align: center;
}

.advantages-item-text p {
  display: block;

  position: relative;

  margin: 0;

  font-size: 18px;

  line-height: 21px;
}

.advantages-item-text p::before {
  content: "";
  display: block;

  position: absolute;
  left: 50%;
  top: -30px;

  width: 60px;
  border: 1px solid;
  border-color: inherit;

  font-size: 18px;

  transform: translateX(-50%);
  opacity: 0.3;

  line-height: 21px;
}

.card-title {
  margin: 0 27px 27px;

  font-size: 24px;
  text-transform: uppercase;
  color: #000000;

  line-height: 28px;
}

.services-item {
  display: flex;
  flex-basis: calc(100% / 3);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  min-height: 385px;
  margin: 0;
  padding: 75px;
  padding-top: 183px;

  text-align: center;

  box-sizing: border-box;
}

.services-item .card-title {
  margin-bottom: 25px;
}

.services-item::after {
  content: "";
  display: block;

  position: absolute;
  left: 50%;
  top: 80px;

  width: 76px;
  height: 76px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transform: translateX(-50%);
}

.services-hotels::after {
  background-image: url("../images/optimized/house.svg");
}

.services-food::after {
  background-image: url("../images/optimized/food.svg");
}

.services-souvenirs::after {
  background-image: url("../images/optimized/souvenirs.svg");
}

.services-item .services-item-desc {
  margin: 0;
  padding: 5px;

  font-size: 18px;

  line-height: 21px;
}

.services-item:nth-child(odd) {
  background-color: #f0f5f9;
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

.services-desc {
  padding: 64px 350px;
}

.services-desc .title {
  display: block;

  margin-bottom: 20px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  padding: 96px 305px;
}

.call-to-action .button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 50px;

  font-size: 20px;

  line-height: 36px;
}

.call-to-action .title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.call-to-action p {
  display: block;
  justify-content: flex-start;

  margin: 0;
  margin-bottom: 50px;
  padding: 5px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 415px;
  padding: 96px 256px 104px;

  box-sizing: border-box;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  margin: 0 auto;
}

.subscribe-text {
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-text p {
  margin: 0;
  padding: 0;
}

.subscribe-text .title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.subscribe .button-additional {
  display: block;

  max-width: 232px;
  margin: 0;
  padding: 8px 50px;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;

  font-size: 20px;

  line-height: 36px;
}

.subscribe-index {
  background-color: #93adb9;
  background: url("../images/optimized/subscribe-index.jpg") no-repeat center /
    cover;

  color: #ffffff;
}

.footer {
  padding: 40px 70px 30px;
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 5px 0;
}

.contacts a {
  text-decoration: none;
  color: inherit;
}

.contacts-phone {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  font-size: 40px;
  color: #000000;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  line-height: 40px;
}

.phones {
  display: flex;
  flex-wrap: wrap;

  max-width: 535px;
}

.contacts-phone:hover,
.contacts-phone:focus,
.contacts-phone:active {
  color: #756157;
}

.contacts-phone:active {
  opacity: 0.3;
}

.contacts-company {
  color: #000000;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.contacts-company:hover,
.contacts-company:focus,
.contacts-company:active {
  color: #756157;
}

.contacts-company:active {
  opacity: 0.3;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  max-width: 142px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials-item .socials-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 47px;
  height: 40px;

  color: #83b3d3;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.socials-link:hover,
.socials-link:focus,
.socials-link:active {
  color: #68a2ca;
}

.socials-link:active {
  opacity: 0.3;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 70px;
  padding-top: 35px;
  background-color: #545358;
  background: url("../images/optimized/filter.jpg") no-repeat center / cover;

  text-align: left;
  color: #ffffff;
}

.filters-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-top: 56px;
}

.filters-button-wrapper .button {
  margin-bottom: 32px;
  padding: 8px 50px;
}

.filters-button-wrapper .button-transparent {
  padding: 8px 58px;
}

.filters-button-wrapper .button:last-child {
  margin-bottom: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 30px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";

  position: absolute;
  right: -17px;
  top: 50%;

  width: 6px;
  height: 6px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;

  transform: rotate(-45deg);

  translate: 0 -50%;
}

.catalog-header {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 60px;

  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 16px;

  line-height: 21px;
  list-style: none;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-size: 20px;
  font-weight: 700;

  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-filter-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  margin-bottom: 16px;

  font-size: 18px;

  line-height: 23px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;

  padding: 0 10px;
  padding-left: 36px;

  word-break: break-word;
}

.control:hover:not(:disabled) {
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.filter-item-checkbox:checked + .control .control-mark::after {
  content: "";

  position: absolute;
  left: 7px;
  top: 3px;

  width: 5px;
  height: 10px;
  border: solid #3f5e72;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
}

.control-mark {
  position: absolute;
  left: 0;
  top: 1px;

  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.radio-mark {
  position: absolute;
  left: 0;
  top: 1px;

  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
}

.filter-item-radio:checked + .control .radio-mark::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3f5e72;

  transform: translate(-50%, -50%);
}

.filter-item-radio:focus + .control .radio-mark,
.filter-item-checkbox:focus + .control .control-mark {
  outline: 3px solid #83b3d3;
}

.filter-item-radio:active + .control .radio-mark,
.filter-item-checkbox:active + .control .control-mark {
  outline: none;
}

.catalog-filter-item input:focus + .control:hover {
  opacity: 1;
}

.catalog-filter-group {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  max-width: 154px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border-width: 0;
}

.catalog-filter-group-price {
  margin-left: 70px;
}

.price-inputs {
  display: flex;
  flex-direction: row;

  margin-bottom: 44px;
}

.price-input-label {
  position: relative;
}

.price-input-label::after {
  content: "";

  position: absolute;
  right: 22px;
  top: 50%;

  font: inherit;
  font-size: 18px;
  text-transform: lowercase;
  color: #000000;

  transform: translateY(-50%);
  opacity: 0.3;

  line-height: 24px;
}

.range-scale {
  position: relative;

  width: 287px;
  height: 4px;
  border-radius: 2px;
  background-color: #5e656c;
}

.range-bar {
  position: absolute;

  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background: #ffffff;

  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #82b3d3;
}

.range-toggle:active {
  outline: 2px solid #82b3d3;

  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.price-input-label-from::after {
  content: "От";
}

.price-input-label-to::after {
  content: "До";
}

.price-input {
  width: 143px;
  height: 48px;
  padding-left: 20px;
  padding-right: 42px;
  border-width: 0;
  background-color: #f2f2f2;

  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000000;

  line-height: 24px;
  box-sizing: border-box;
  -moz-appearance: textfield;
}

.price-input:hover {
  background-color: #e5e5e5;
}

.price-input:focus {
  outline: 3px solid #83b3d3;
}

.price-input::-webkit-inner-spin-button,
.price-input::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.price-input-from {
  margin-right: 2px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.price-input-to {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.button-transparent {
  background-color: transparent;
}

.button:hover.button-transparent {
  background-color: transparent;

  opacity: 0.6;
}

.button:focus.button-transparent {
  outline: 3px solid #83b3d3;
  background-color: transparent;

  opacity: 1;
}

.button:active.button-transparent {
  outline: none;
}

.button:disabled.button-transparent {
  background-color: transparent;

  opacity: 0.1;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin: 0;
  padding: 0 70px;

  text-align: left;
}

.view-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 48px;
  min-height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  font-size: 12px;

  line-height: 16px;
  box-sizing: border-box;
}

.view-icon-current {
  border-color: #000000;
}

.view-icon:hover {
  border-color: #000000;
}

.view-icon:focus {
  border-color: #68a2ca;
}

.view-icon:active {
  border-color: #000000;
}

.results-header-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;

  width: 100%;
  margin: 40px 0 30px;
  padding: 10px 0 10px;
}

.results-header {
  display: inline-flex;
  justify-content: flex-start;

  margin: 0;
  margin-right: auto;
  margin-top: 7px;
  padding: 0;

  font-size: 30px;
  text-transform: uppercase;

  line-height: 36px;
}

.results-header span {
  display: inline-flex;
  flex-grow: 1;
}

.view-icon-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 160px;

  gap: 8px;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-right: 70px;
  padding: 5px 20px;
  padding-right: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
  background-color: #ffffff;
  background: url("../images/select.svg") no-repeat right 18px center;

  font-family: inherit;
  font-size: 18px;
  color: #333333;

  line-height: 21px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.select-control:hover,
.select-contol:focus {
  border-color: #68a2ca;
}

.select-control:disabled {
  border-color: #000000;

  opacity: 0.3;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  align-items: stretch;

  position: relative;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
  gap: 20px;
}

.hotels-list::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: -42px;

  height: 1px;
  background-color: #e6e6e6;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

  padding: 20px;
  border-radius: 4px;

  box-sizing: border-box;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.hotel-button-container {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  justify-content: space-between;

  width: 100%;
}

.hotel-card-img {
  max-width: 100%;
  height: auto;

  object-fit: contain;
  vertical-align: middle;
}

.stars {
  display: flex;
  align-items: center;

  gap: 6px;
}

.star {
  display: inline-block;

  width: 18px;
  height: 18px;
  background-image: url("../images/optimized/star.svg");
}

.hotel-card a {
  text-decoration: none;
}

.hotel-button-container .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 140px;
  min-height: 36px;
  margin: 0;
  margin-bottom: 16px;
  padding: 8px 18px;

  box-sizing: border-box;
}

.button.rating {
  margin-bottom: 0;
}

.hotel-card-title {
  display: block;

  margin: 0;
  padding: 16px 0;

  font-size: 24px;
  color: #000000;

  line-height: 28px;
}

.hotel-card-link {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-self: stretch;
}

.hotel-card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;

  font-size: 18px;

  line-height: 21px;
}

.hotel-card .rating {
  background-color: #f2f2f2;

  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;

  line-height: 20px;
  cursor: default;
}

.button-chosen {
  background-color: #7db54f;
}

.button:hover.button-chosen {
  background-color: #6c9e42;
}

.button:focus.button-chosen {
  background-color: #6c9e42;
}

.button:active.button-chosen {
  background-color: #7db54f;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-start;

  margin: 30px 0 50px;
  padding: 10px 0 10px;

  font-size: 20px;
  font-weight: 700;

  line-height: 36px;
  list-style: none;
  gap: 8px;
}

.pagination-item .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 60px;
  padding: 12px 5px;

  font-size: 20px;

  line-height: 36px;
  box-sizing: border-box;
}

.pagination-item:not(.pagination-others)
  .button:active:not(.pagination-current) {
  background-color: #82b3d3;
}

.pagination-item .pagination-current {
  background-color: #f2f2f2;

  color: #000000;

  cursor: default;
}

.pagination-others .button {
  background-color: #ffffff;

  color: #000000;

  cursor: default;
}

.subscribe-field {
  width: 452px;
  min-height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  outline: none;
  background-color: #f2f2f2;

  font-family: inherit;
  font-size: 18px;
  color: #000000;

  line-height: 24px;
  box-sizing: border-box;
}

.modal-container {
  display: flex;

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  display: grid;
  grid-template-areas: "header close" "form form";
  grid-template-columns: 1fr auto;

  position: fixed;
  left: 50%;
  top: 50%;

  width: 717px;
  padding: 64px 70px;
  border-radius: 30px;
  background: #ffffff;

  transform: translate(-50%, -50%);

  box-sizing: border-box;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: flex;
  grid-area: header;
  align-items: flex-start;

  margin: 0;
  margin-bottom: 64px;
  padding: 0;

  font-size: 30px;
  text-transform: uppercase;

  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  line-height: 36px;
}

.modal-close {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  display: flex;
  grid-area: close;
  align-items: center;
  justify-content: center;

  width: 52px;
  height: 52px;
  margin-right: -17px;
  border: none;
  border-radius: 50%;
  background: #f2f2f2;

  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus,
.modal-close:active {
  background: #e5e5e5;
}

.modal-close:focus {
  outline: 3px solid #83b3d3;
}

.modal-close:active {
  outline: none;
}

.modal-close:active .icon {
  opacity: 0.3;
}

.modal-form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: flex;
  flex-direction: column;
  grid-area: form;

  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
}

.modal-form fieldset {
  border: none;
}

.modal-label {
  display: flex;

  padding: 12px 0;

  font-size: 20px;
  font-weight: bold;

  line-height: 24px;
}

.fieldset-period-container {
  display: grid;
  grid-template-areas: "label input" ". info";
  grid-template-columns: 137px 1fr;
  grid-template-rows: auto auto;

  position: relative;

  margin-bottom: 18px;
}

.modal-fieldset {
  margin: 0;
  padding: 0;
}

.fieldset-period-container label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: label;

  text-align: start;

  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.fieldset-period-container input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: input;

  padding: 12px 20px;
  border-radius: 4px;

  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.fieldset-period-container input:hover {
  background-color: #e5e5e5;
}

.fieldset-period-container input:focus {
  outline: 3px solid #83b3d3;
}

.fieldset-period-container input::placeholder {
  color: #000000;

  opacity: 0.6;
}

.fieldset-period-container::after {
  content: "";

  position: absolute;
  right: 22px;
  top: 16px;

  width: 16px;
  height: 16px;
  background: url("../images/calendar.svg") no-repeat center / contain;

  opacity: 0.3;
}

.fieldset-period-container .form-note {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: info;

  padding: 4px 20px;

  font-size: 16px;
  text-align: start;

  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  line-height: 21px;
}

.form-error {
  color: #ff5757;
}

.form-input {
  border: none;
  outline: none;
  background-color: #f2f2f2;

  font: inherit;
  font-size: 18px;
  font-weight: bold;

  line-height: 24px;
}

.fieldset-guests {
  display: flex;

  margin-bottom: 48px;

  gap: 88px;
}

.fieldset-guests-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.guests-count-container {
  display: flex;

  margin-left: 46px;
}

.guests-count-container input {
  width: 30px;
  height: 48px;
  padding: 5px;
  border: none;
  outline: none;
  background-color: #f2f2f2;

  text-align: center;

  box-sizing: border-box;
  -moz-appearance: textfield;
}

.count-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 41px;
  height: 48px;
  padding: 5px;
  border: none;
  outline: none;
  background-color: #f2f2f2;

  box-sizing: border-box;
  cursor: pointer;
}

.count-btn .icon {
  opacity: 0.3;

  fill: #756157;
}

.count-btn:hover .icon,
.count-btn:focus .icon {
  opacity: 1;

  fill: #000000;
}

.count-btn:focus:focus:not(:active)::after {
  content: "";
  display: block;

  position: absolute;
  left: 7px;
  top: 11px;

  width: 20px;
  height: 20px;
  border: 3px solid #82b3d3;
  border-radius: 4px;
}

.count-btn:active .icon {
  opacity: 0.2;
}

.count-btn.minus {
  margin-right: -1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.count-btn.plus {
  margin-left: -1px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.guests-count-container input::-webkit-outer-spin-button,
.guests-count-container input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.tooltip {
  position: relative;

  width: 26px;
  height: 26px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;

  font: inherit;
}

.tooltip-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83b3d3;
}

.tooltip-icon-container .icon {
  fill: #ffffff;
}

.children-tooltip-text {
  display: none;

  position: absolute;
  left: 0;
  top: 41px;

  min-width: 256px;
  padding: 15px 22px;
  border-radius: 10px;
  background-color: #333333;

  font: inherit;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  color: #ffffff;

  transform: translateX(calc(-50% + 13px));

  box-sizing: border-box;
  line-height: 20px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.children-tooltip-text::before {
  content: "";

  position: absolute;
  left: 50%;
  top: -9px;

  width: 0;
  height: 0;
  border-bottom: 9px solid #333333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  transform: translateX(-50%);
}

.tooltip:hover .children-tooltip-text,
.tooltip:focus .children-tooltip-text {
  display: block;
}

.modal .button {
  padding: 18px 10px;
  border-radius: 10px;

  font-size: 20px;

  line-height: 24px;
}
